.blog-section {
  margin: 100px 150px;

  &__title {
    font-size: 36px;
    font-weight: 500;
  }

  &__desc {
    font-size: 18px;
  }
}

.blog-wrapper {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;

  .single-blog {
    position: relative;
    background-color: #ffffff;
    flex-basis: calc((100% - 180px) / 3);
    border-radius: 4px;
    box-shadow: 0 0 0px 10px rgba(27, 59, 104, 0.15);
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-out;

    span {
      margin-bottom: 20px;
    }

    &:hover {
      box-shadow: 0 0 30px 0 rgba(27, 59, 104, 0.3);
      transform: scale(1.1);
      transition: all 0.3s ease-in;
    }

    .blog-background {
      height: 220px;
      width: 100%;
    }

    .blog-desc {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      &__title {
        font-size: 22px;
        color: #333333;
      }

      &__description {
        font-size: 14px;
        color: #999999;
      }

      a {
        color: #666666;

        &:hover {
          color: rgb(255, 136, 0);
        }
      }
    }
  }

  .single-blog:nth-child(3n) {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .blog-section {
    margin: 100px 30px;

    &__title {
      font-size: 28px;
    }
  }

  .blog-wrapper {
    flex-direction: column;

    .single-blog {
      flex-basis: 100%;
      margin-right: 0px;
      background-color: #fff;

      .blog-background {
        display: none;
      }
    }
  }
}
