body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(245, 252, 255);
}

main {
  margin: 30px 150px;
}

.website-background {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 500px;

  div {
    // background-color: #eaf0f6;
    color: #33475b;
    border-radius: 8px;
    // padding: 20px;
    // border: 2px dashed #bfd7f0;
  }
  span:first-child {
    font-weight: 600;
    font-size: 54px;
    margin-bottom: 30px;
  }
  span:not(:first-child) {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.company-link {
  color: #33475b;
  text-decoration: none;
  margin-left: 8px;

  &:hover {
    text-decoration: underline;
  }
}

.icons {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.svg-background {
  width: 600px;
}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  body {
    width: 100%;
  }

  main {
    margin: 50px 30px;
  }

  .website-background {
    height: 300px;

    .intro-section {
      width: 100%;
    }
    img {
      display: none;
    }
    span:first-child {
      font-size: 44px;
    }
    span:not(:first-child) {
      font-size: 20px;
    }
  }
}
